{% extends "mobile/layout.html" %}
{% block body %}
<script type="text/javascript">
	function showCurrentLocation(position){
		var scr = document.createElement("script");
		scr.src = "http://apis.daum.net/local/geo/coord2addr?longitude="
					+ position.coords.longitude
					+ "&latitude="
					+ position.coords.latitude
					+ "&output=json&callback=locationCallback"
					+ "&apikey={{config['LOCAL_APIKEY']}}";
		$("head")[0].appendChild(scr);
	}
	
	function locationCallback(dat){
		$("#locationResult").text(dat.name1 + " " + dat.name2 + " " + dat.name3);
	}
	$(function(){
		if(navigator.geolocation){
			$("#btnCurLocation").click(function(){
				navigator.geolocation.getCurrentPosition(showCurrentLocation);	
			});
			
		}
	});
</script>
		<a href="{{url_for('mobile_recommand')}}" data-role="button" data-icon="check" data-theme="b" data-ajax="false">추천해줘!</a>
		<a href="{{url_for('mobile_search_form')}}" data-role="button" data-icon="search">상세 검색</a>
		<button type="button" data-icon="info" id="btnCurLocation">현재 위치 확인!</button>
		<p id="locationResult" style="align:center;"></p> 
{% endblock %}
