{% extends "mobile/layout.html" %}
{% block body %}
<script type="text/javascript" src="http://apis.daum.net/maps/maps3.js?apikey={{config['MAP_APIKEY']}}"></script>
<script type="text/javascript">
	var map = null;
	var pos = null;
	var myloc = null;
	
	
	
	$(function(){
		
		try{
			pos = new daum.maps.LatLng({{res['pos']['lat']}}, {{res['pos']['lng']}});
			var marker = new daum.maps.Marker({
				position:pos
			});
			map = new daum.maps.Map(document.getElementById("map"),
				{'center':pos}
			);
			marker.setMap(map);
			// if(navigator.geolocation){
				// navigator.geolocation.getCurrentPosition(mypos);		
			// }
		}catch(er){
			alert(er);
		}
	});
	
	function mypos(dat){
		myloc = new daum.maps.LatLng(dat.coords.latitude, dat.coords.longitude);
		var mark = new daum.maps.Marker({
			position:myloc
		});
		mark.setMap(map);
		map.setBounds(new daum.maps.LatLngBounds(pos, myloc));
		var info = new daum.maps.InfoWindow({
			content: "현재 위치"
		});
		info.open(map, mark);
	}
</script>
<style type="text/css">
	#map {width:90%; height:300px; border:solid 1px gray; margin:0 auto;}
</style>
<h3>{{res['title']}}</h3>
<div id="map"></div>
<div class="ui-grid-a">
	<span class="ui-block-a"><strong>주소</strong></span>
	<span class="ui-block-b">{{res['addr']}}</span>
	<span class="ui-block-a"><strong>전화번호</strong></span>
	<span class="ui-block-b"><a href="tel:{{res['tel']}}">{{res['tel']}}</a></span>
	<span class="ui-block-a"><strong>가격대</strong></span>
	<span class="ui-block-b">{{res['price_min']}}원 ~ {{res['price_max']}}원</span>
</div>
{% endblock %}
