{% extends "mobile/layout.html" %}
{% block body %}
<script type="text/javascript" src="http://apis.daum.net/maps/maps3.js?apikey={{config['MAP_APIKEY']}}"></script>
<script type="text/javascript">
	var map = null;
	var pos = null;
	var myloc = null;
	
	function mypos(dat){
		myloc = new daum.maps.LatLng(dat.coord.latitude, dat.coord.longitude);
		var marker = new daum.maps.Marker({
			position:myloc
		});
		marker.setMap(map);
		map.setBounds(new daum.maps.LatLngBounds(pos, myloc));
	}
	
	$(function(){
		pos = new daum.maps.LatLng({{res['pos']['lat']}}, {{res['pos']['lng']}});
		var marker = new daum.maps.Marker({
			position:pos
		});
		map = new daum.maps.Map(document.getElementById("map"),
			{'center':pos}
		);
		marker.setMap(map);
		if(navigator.geolocation){
			$("#btnCurLocation").click(function(){
				navigator.geolocation.getCurrentPosition(mypos);	
			});
			
		}
	});
</script>
<style type="text/css">
	#map {width:90%; height:400px; border:solid 1px gray; margin:0 auto;}
</style>
<h3>{{res['title']}}</h3>
<div id="map"></div>
<div class="ui-grid-a">
	<span class="ui-block-a"><strong>주소</strong></span>
	<span class="ui-block-b">{{res['addr']}}</span>
	<span class="ui-block-a"><strong>전화번호</strong></span>
	<span class="ui-block-b"><a href="tel:{{res['tel']}}">{{res['tel']}}</a></span>
	<span class="ui-block-a"><strong>가격대</strong></span>
	<span class="ui-block-b">{{res['price_min']}}원 ~ {{res['price_max']}}원</span>
</div>
{% endblock %}
