{% extends "layout.html" %}
{% block body %}
<style type="text/css">
	h2 { font-size:1.5em; font-weight:bold; padding:.5em; }
	dl { padding-left:2em; }
	dt { font-size:1.2em; font-weight:bold; margin-top:1em; color:#369; }
	dd { padding:.5em; padding-left:2em; border-left:solid 2px #69c; color:#666;}
	ul { padding-left:1em; }
	ul>li { padding:.2em; }
	h3 { font-size:1.1em; font-weight:bold; }
</style>
<h2>개발에 사용된 것들</h2>
<dl>
	<dt>서버</dt>
	<dd>
		<h3><a href="http://www.python.org/download/">Python 2.7</a></h3>
		<ul>
			<li><a href="http://flask.pocoo.org/">Flask</a></li>
			<li><a href="http://pypi.python.org/pypi/pymongo/">pymongo</a></li>
		</ul>
		<h3><a href="http://www.mongodb.org/">MongoDB</a></h3>
	</dd>
	<dt>클라이언트</dt>
	<dd>
		<h3>OpenAPI</h3>
		<dl>
			<dt>지도 / 좌표계변환 / 로드뷰</dt>
			<dd><a href="http://apis.daum.net/">다음 OpenAPI</a></dd>
			<dt>지역검색</dt>
			<dd><a href="http://dev.naver.com/openapi/">네이버 OpenAPI</a></dd>
		</dl>
		<h3><a href="http://jquery.com">jQuery</a></h3>
	</dd>
</dl>
<a href="{{ url_for('mainPage') }}" class="linkBtn" >돌아가기</a>
{% endblock %}